@model IEnumerable<RequestApprovalViewModel>
@using Microsoft.AspNetCore.Identity;
@inject UserManager<User> userManager;
@{ 
    string color = "";
}
@if (Model.Any())
{
<div id="approvals" style="display:none">
    @foreach (var approval in Model)
    {
        if(approval.Status == "Denied")
        {
            color = "red";
        }
        else if(approval.Status == "Approved")
        {
            color = "lawngreen";
        }
        else
        {
            color = "yellow";
        }
        <div class="panel-group">
            <div class="panel">
                <div class="panel-heading clearfix">
                    <div class="pull-left"><strong>Approval</strong></div>
                </div>
                <div class="panel-body" style="background-color:@color">
                    <p><strong>Subject: @approval.Subject</strong></p>
                    <p><strong>Status: @approval.Status</strong></p>

                    <strong>Description: </strong>@approval.Description
                </div>
                <div class="panel-footer">
                    <div class="col-md-offset-5">
                        @{
                            if (approval.ApproverId == userManager.GetUserId(User))
                            {
                                if (approval.Status == "Denied")
                                {
                                    <p class="danger"><strong>Denied</strong></p>
                                }
                                else if (approval.Status == "Approved")
                                {
                                    <p class="success"><strong>Approved</strong></p>
                                }
                                else
                                {
                                    <form method="post" asp-area="" asp-controller="requests" asp-action="ApproveApproval"  asp-route-approvalId="@approval.Id" asp-route-requestId="@approval.RequestId">
                                        <button type="submit" class="btn btn-success">Approve</button>
                                    </form>
                                    <form method="post" asp-area="" asp-controller="requests" asp-action="DenyApproval" asp-route-approvalId="@approval.Id" asp-route-requestId="@approval.RequestId">
                                        <button type="submit" class="btn btn-danger">Deny</button>
                                    </form>
                                }

                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    }
</div>
}



