@model SolutionDetailsViewModel
@{
    ViewData["Title"] = "Details";
}

<h2 class="text-center">Details for Solution #@Model.Id</h2>

<div class="container">
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading clearfix">
                <div class="pull-left"><strong>Subject:</strong> @Model.Title</div>
                <div class="pull-right"><strong>Created On:</strong> @Model.CreatedOn</div>
            </div>
            <div class="panel-body"><strong>Description:</strong> <p>@Model.Content</p></div>

            <div class="panel-footer clearfix">
                <div class="text-center"><strong> Author:</strong> @Model.Author</div>
            </div>

            @if (Model.Attachment != null)
            {
                <div class="panel-footer clearfix">
                    <div class="text-center">
                        <label asp-for="@Model.Attachment">Attachment: </label>
                        <a asp-controller="Solutions" asp-action="Download"
                           asp-route-filename="@Model.Attachment.FileName" asp-route-filePath="@Model.Attachment.PathToFile" asp-route-solutionId="@Model.Id">
                            @Model.Attachment.FileName
                        </a>
                    </div>
                </div>
            }
        </div>

    </div>
</div>
