@model SolutionDetailsViewModel
@{
    ViewData["Title"] = "Details";
}

<h2 class="text-center">Details for Solution #@Model.Id</h2>

<div class="container">
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading clearfix">
                <div class="pull-left"><strong>Subject:</strong> @Model.Title</div>
                <div class="pull-right"><strong>Created On:</strong> @Model.CreatedOn</div>
            </div>
            <div class="panel-body"><strong>Description:</strong> <p>@Model.Content</p></div>
            <div class="panel-footer clearfix">
                <div class="text-center"><strong> Author:</strong> @Model.Author</div>
            </div>
            @if (Model.Attachments.Any())
            {
                <div class="text-center">
                    @foreach (var attachment in Model.Attachments)
                    {
                        <label asp-for="@attachment">Attachment: </label>
                        <a asp-controller="Solutions" asp-action="Download"
                           asp-route-filename="@attachment.FileName" asp-route-filePath="@attachment.PathToFile" asp-route-attachmentId="@attachment.Id">
                            @attachment.FileName
                        </a>
                        <br />
                    }
                </div>
            }
        </div>

    </div>
</div>
