@model RequestDetailsViewModel
@{
    ViewData["Title"] = "Details";
    var notesId = Model.Id + "Notes";
}
<div class="btn-group btn-group-toggle" data-toggle="buttons">
    <button class="btn disabled" style="display:table; background-color: #00611C; color:white;">Request ID: @Model.Id</button>
    <button id="btn_desc" class="btn btn btn-danger">Request</button>
    <button id="btn_res" class="btn btn">Resolution</button>
    <button id="btn_hist" class="btn btn">History</button>
</div>
<div class="btn-group btn-group-toggle pull-right" data-toggle="buttons">
    <button class="btn btn-info" data-toggle="modal" data-target="#approvalModal">Submit for Approval</button>
    <button class="btn btn-info" data-toggle="modal" data-target="#noteModal">Add Note</button>
    @if (Model.Notes.Any())
    {
        <button class="btn btn-info" data-toggle="modal" data-target="#@notesId">View Notes</button>
    }

    <button class="btn btn-info pull-right" data-toggle="modal" data-target="#mergeModal" id="mergeButton">Merge Request</button>
</div>

<!-- Note Modal -->
<partial name="NotePartial" for="Id" />

<!-- Author Modal -->
<partial name="UserDetailsPartial" for="Author" />

<!-- Technician Modal -->
<partial name="UserDetailsPartial" for="Technician" />

<!-- Display Notes Modal -->
<partial name="NoteListPartial" for="Notes" />

<partial name="ReplyPartial" for="Id" />


<!-- Merge Modal -->
<partial name="MergePartial" />

<div class="panel-group" id="request">
    <div class="panel">
        <div class="panel-heading clearfix">
            <div class="pull-left"><strong>Requester:</strong> <a data-toggle="modal" data-target="#@Model.Author.Id">@Model.Author.UserName</a></div>
            <div class="pull-right"><strong>Created On:</strong> @Model.CreatedOn</div>
        </div>
        <div class="panel-body" style="height: 300px; overflow-y: scroll;">
            <p><strong>Subject:</strong> @Model.Subject</p>
            <strong>Description</strong>
            <p>@Model.Description</p>
        </div>

        <div class="panel-footer clearfix">
            <div class="pull-left"><strong>Status:</strong> @Model.Status</div>
            @if (Model.Technician != null)
            {
                <div class="pull-right"><strong>Technician:</strong><a data-toggle="modal" data-target="#@Model.Technician.Id"> @Model.Technician.UserName</a></div>
            }
            else
            {
                <div class="pull-right"><strong>Technician: <span class="text-danger">Unassigned</span></strong></div>
            }
            <br />
            <div class="pull-left"><strong>Category:</strong> @Model.Category</div>
            @if (Model.Attachments.Any())
            {
                <div class="text-center">
                    @foreach (var attachment in Model.Attachments)
                    {
                        <label asp-for="@attachment">Attachment: </label>
                        <a asp-controller="Requests" asp-action="Download"
                           asp-route-filename="@attachment.FileName" asp-route-filePath="@attachment.PathToFile" asp-route-requestId="@Model.Id">
                            @attachment.FileName
                        </a>
                        <br />
                    }
                </div>
            }
        </div>

    </div>
</div>
<div class="panel-group" id="resolution" style="display:none">
    <div class="panel">
        <div class="panel-heading clearfix">
            <div class="pull-left"><strong>Resolution</strong></div>
        </div>
        <div class="panel-body">
            @Model.Resolution
        </div>
    </div>
</div>
<div class="panel-group" id="history" style="display:none">
    <div class="panel">
        <div class="panel-heading clearfix">
            <div class="pull-left"><strong>History</strong></div>
        </div>
        <div class="panel-body"><p>Model.History</p></div>
    </div>
</div>

<partial name="ReplyListPartial" for="Replies" />
<button class="btn btn-info" data-toggle="modal" data-target="#replyModal">Reply</button>

@section scriptz{
    <script src="~/js/requests/details/merge.js"></script>
    <script src="~/js/requests/details/request-tabs.js"></script>
}
